<span class="small" style="position: absolute; right: 10px; top: 10px;">{{ player.name }} | <a href="{{base_path}}/game">restart</a></span>
<h3>Other players</h3>
{% for seat in game.seats %}
{% if seat.player_id != player._id %}
<div style="border: 5px solid #000;">
<h1>Player: {{ seat.player_id }}</h1>
<h3>Discard</h3>
<div class="clr padded">{{ seat.rendered_discard|safe }}</div>
<h3>Hand</h3>
<div class="clr padded">{{ seat.rendered_hand|safe }}</div>
</div>
{% endif %}
{% endfor %}
{% for seat in game.seats %}
{% if seat.player_id == player._id %}
<div style="border: 5px solid #000;">
<h1>Player: {{ seat.player_id }}</h1>
<h3>Discard</h3>
<div id="discard-tiles" class="clr padded">{{ seat.rendered_discard|safe }}</div>
<h3>Hand</h3>
<div id="hand-tiles" class="clr padded">{{ seat.rendered_hand|safe }}</div>
{% if msg %}
<h3>{{ msg }}</h3>
<a href="/game">play again!</a>
{% endif %}
</div>
{% endif %}
{% endfor %}
