<span class="small" style="position: absolute; right: 10px; top: 10px;">{{ player.name }} | <a href="{{base_path}}/game">restart</a></span>
{% for seat in game.seats %}
{% if seat.player_id != player._id %}
<div style="margin-bottom: 8px;" class="other-player">
<h4>{% if seat.player_id <= 1 %}Computer{% else %}{{ seat.player_id }}{% endif %}</h4>
<div class="clr padded tile-row discard-tiles">{{ seat.rendered_discard|safe }}</div>
<div class="clr padded tile-row hand-tiles">{{ seat.rendered_hand|safe }}</div>
</div>
{% endif %}
{% endfor %}
{% for seat in game.seats %}
{% if seat.player_id == player._id %}
<div>
    <div class="clr padded tile-row discard-tiles">{{ seat.rendered_discard|safe }}</div>
    <div id="player-tiles" class="clr padded tile-row hand-tiles ">{{ seat.rendered_hand|safe }}</div>
{% if msg %}
<h3>{{ msg }}</h3>
<a href="/game">play again!</a>
{% endif %}
</div>
{% endif %}
{% endfor %}
