<span id="notifications">
    <span class="msg"></span><span id="msg-other"></span>
    <a id="play-again" class="hide" href="{{ base_path }}/game">...play again</a>
</span>
<span id="player-info" class="small">{{ player.name }} | <a href="{{ base_path }}/game">restart</a></span>
{% for seat in game.seats %}
{% if seat.player_id != player._id %}
<div style="margin-bottom: 8px;" class="other-player player-{{ seat.player_id }}">
    <h4 class="name">{% if seat.player_id|isComputer %}Computer {{ seat.player_id }}{% else %}{{ player_map[seat.player_id].name }}{% endif %}</h4>
    <div class="clr padded tile-row hand-tiles">{% renderHand game seat player._id %}</div>
    <div class="clr padded tile-row discard-tiles">{% renderDiscard seat %}</div>
</div>
{% endif %}
{% endfor %}
{% for seat in game.seats %}
{% if seat.player_id == player._id %}
<div class="this-player player-{{ seat.player_id }} clr">
    <div class="buttons">
        <div id="pon-button" class="hide"><span id="pon-tile"></span><a class="pon" href="javascript:;">Pon!</a> <a class="pon-dismiss" href="javascript:;">(no thanks)</a></div>
        <div id="kan-button" class="hide"><a class="kan" href="javascript:;">Kan!</a></div>
        <div id="ron-button" class="hide"><a class="ron" href="javascript:;">Ron!</a></div>
    </div>
    <div class="clr padded tile-row discard-tiles">{% renderDiscard seat %}</div>
    <div id="player-tiles" class="clr padded tile-row hand-tiles ">{% renderHand game seat player._id %}</div>
</div>
{% endif %}
{% endfor %}
