<html>
    <head>
        <title>Cock-eyed Mahjong</title>
        <link rel="stylesheet" href="{{base_path}}/css/style.css">
	    <meta name="apple-mobile-web-app-capable" content="yes" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
        <script src="{{base_path}}/js/jquery.min.js"></script>
        <script src="{{base_path}}/js/swig.min.js"></script>
        <script src="{{base_path}}/js/hashchange.js"></script>
        <script src="{{base_path}}/js/client.js"></script>
        <script src="{{base_path}}/js/shared.js"></script>
        <script src="{{base_path}}/js/tile.js"></script>
        <script id="board_tpl" type="text/x-tpl">
            {{ board|safe }}
        </script>
        <script>INIT.initialize({{ js_cfg|safe }});</script>
    </head>
    <body>
        <h1>Okaerinasai</h1>
        <div>Shuffling...</div>
    </body>
</html>

