<html>
    <head>
        <title>Cock-eyed Mahjong</title>
        <link rel="stylesheet" href="{{base_path}}/css/style.css">
	    <meta name="apple-mobile-web-app-capable" content="yes" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
        <script src="{{base_path}}/js/jquery.min.js"></script>
        <script src="{{base_path}}/js/handlebars.js"></script>
        <script src="{{base_path}}/js/hashchange.js"></script>
        <script src="{{base_path}}/js/client.js"></script>
        <script id="firstTemplate" type="text/x-handlebars-template">
            <span class="small" style="position: absolute; right: 10px; top: 10px;"><a href="/game">restart</a></span>
            <h1>Hand Contains</h1>
            <div id="hand-tiles" class="clr padded">{{{render_tiles partial_hand}}}</div>
            {{#if msg}}
            <h1>{{{msg}}}</h1>
            <a href="/game">play again!</a>
            {{else}}
            <h3>AMI suggests <span class="small dim">{{shanten}} shanten</span></h3>
            <div class="left">
                <div class="clr padded">
                    <span class="left" style="margin-right: {{tile_width}}px;">{{{render_tile recommended.discard_tile}}}</span>
                    <div style="clear: both;">
                        {{#each discards}}
                        {{{render_tile this}}}
                        {{/each}}
                    </div>
                </div>
            </div>
            {{/if}}
            <div id="hand" data-hand="{{hand}}"></div>
            <div id="wall" data-wall="{{wall}}"></div>
            <div id="thrown" data-thrown="{{thrown}}"></div>
        </script>
        <script>INIT.initialize(
