<html>
    <head>
        <title>Cock-eyed Mahjong</title>
	    <meta name="apple-mobile-web-app-capable" content="yes" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
        <link rel="shortcut icon" href="{{ base_path }}/favicon.ico">
        <link rel="stylesheet" href="{{ base_path }}/css/dist/all.min.css">
        <script src="{{ base_path }}/js/dist/all.js"></script> <!-- TODO(gleitz): change in production -->
        <script src="{{ base_path }}/socket.io/socket.io.js"></script>
        <script>INIT.initialize({{ js_cfg|safe }});</script>
    </head>
    <body>
        <div class="shadowed">
            <h1 class="br">Current Players</h1>
            <ul class="players br">
                {% for player in players %}
                <li>{{ player.name }}</li>
                {% endfor %}
            </ul>
            <div class="br">To invite a friend, send them this URL:</div>
            <div class="br">
                <input id="start-label" style="width: 500px;">
            </div>
            <div>and then click <a class="start" href="{{ base_path }}/game/{{ game_id }}">Start</a>.</div>
        </div>
    </body>
</html>

